body {
  background-image: url("media/Background.png");
  background-size: auto;
}

h1 {
  text-align: center;
  font-family: "Wire One", sans-serif;
  font-size: 100px;
  font-weight: bold;
}

h3,
h4 {
  font-family: system-ui;
  font-weight: normal;
  font-size: medium;
  display: inline;
}

.description {
  text-transform: capitalize;
}

.additional-info {
  font-family: system-ui;
  font-weight: normal;
  font-size: medium;
  display: inline;
}

h1 {
  color: #070a3a;
}

h2 {
  font-size: 40px;
}

.current-weather-icon {
  display: block;
  margin: auto;
  width: 150px;
}

.card-body {
  width: 380px;
  border-radius: 5%;
  background: white;
  display: block;
  margin: auto;
  border: 5px solid#073A37;
}

.current-weather {
  font-size: 70px;
  font-weight: bolder;
  font-family: "Wire One", sans-serif;
  text-align: center;
  line-height: 1;
}

.btn-secondary {
  margin-left: 10px;
}

.form-inline {
  width: max-content;
}

.temp-output {
  float: left;
}

.active {
  color: #000000;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.open-source {
  text-align: center;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  font-family: system-ui;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
}

.weather-forecast-temperature {
  font-family: system-ui;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
