body {
  background-image: url("../media/Background.png");
  background-size: auto;
}

h1 {
  text-align: center;
  font-family: "Wire One", sans-serif;
  font-size: 100px;
  font-weight: bold;
}

h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  display: inline;
}

.date-time {
  text-align: center;
}

.description {
  text-align: center;
}

.weather-description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  text-align: left;
  text-transform: capitalize;
}

h1 {
  color: #070a3a;
}

h2 {
  font-size: 40px;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}

.card-body {
  width: 380px;
  border-radius: 5%;
  background: white;
  display: block;
  margin: auto;
  border: 5px solid#073A37;
}

.current-weather {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
}

.btn-secondary {
  margin-left: 10px;
}

.form-inline {
  width: max-content;
}

.temp-output {
  float: left;
}

.active {
  color: #000000;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.open-source {
  text-align: center;
}
