h1 {
  text-align: left;
  font-family: "Satisfy", cursive;
}

h3,
h2,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  text-align: left;
}

h1,
h2 {
  color: #650e70;
}

h2 {
  font-size: 40px;
}

.randomized-pun {
  padding: 2%;
}

.container {
  max-width: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-style: solid;
  border-color: #138496;
  border-width: 1px;
  border-radius: 10%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.card-header {
  font-weight: bold;
}
.card-footer {
  font-weight: bold;
}

.current-weather {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

.btn-secondary {
  margin-left: 10px;
}

.float-left {
  float: left;
}

#styling-current {
  background: white;
  border-radius: 30px;
  border: 1px solid #138496;
}
